<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Security>
            <version>0.1.0</version>
        </Aligent_Security>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aligent_security before="Mage_Adminhtml">Aligent_Security_Adminhtml</aligent_security>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <helpers>
            <cms>
                <rewrite>
                    <wysiwyg_images>Aligent_Security_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
    </global>
</config>