<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Security>
            <version>0.1.0</version>
        </Aligent_Security>
    </modules>
    <global>
        <helpers>
            <cms>
                <rewrite>
                    <wysiwyg_images>Aligent_Security_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
        <models>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Aligent_Security_Model_Cms_Model_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
        </models>
    </global>
</config>